@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

/* HeroUI adds its own base styles, but we can override here */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
